.map-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-modal {
  background: white;
  border-radius: 8px;
  padding: 1rem;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.map-modal h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.map-modal-buttons {
  margin-top: 0.5rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
